@media (max-width: 576px) {
  .container-fluid{
    width: 100%;
  }
  .body{
    background-image: none;
    background-color: #22577A;
}


  .card{
    display: none;
  }

  .network{
    display: block;
  }
}
@media (min-width: 576px) {
  .container-fluid{
    width: 100%;
  }

  .body{
    background-image: url('../../images/sunset1.jpg');
  }

  .card{
    display: none;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 790px) {
  .container-fluid{
    width: 80%;
  }

  .network{
    display: none;
  }

  .card{
    display: block;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .container-fluid{
    width: 70%;
  }

  .card{
    display: block;
  }

  .network{
    display: none;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .container-fluid{
    width: 60%;
  }

  .card{
    display: block;
  }

  .network{
    display: none;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;900&display=swap');

.body{
  font-family: 'Raleway',sans-serif;
  color: #61686b;

  background-size: cover;
  background-position:top;
  background-attachment: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  -webkit-transition: background-image 0.8s ease-in-out;
  transition: background-image 0.8s ease-in-out;
  //scroll-behavior: smooth;
}

.part{
  padding: 50px 0 50px 0;
  border-bottom: rgba(#61686b,.4) solid 1px;
}

h2{
  font-weight: bold ;
  padding-bottom: 3em;
  text-transform: capitalize;
}

h5{
  text-transform: capitalize;
}

.header{
  position: fixed;
  height: 300px;
  color: white;
  z-index: 1;
  top: 0;
  padding-top: 5em;
  left: 50%;
  margin-left: -180px;
  text-align: center;

}

.header h1:after{
  display: block;
  background: white;
  content: '';
  height: 2px;
  width: 5em;
  margin: 0.75em auto 0 auto;

}

.header h1{
  font-weight: bold;
}

.header p{
  padding-top: 2em;
  font-size: medium;
  font-weight: bold;

}

.main{
  position: relative;
  z-index: 2;
  background-color: rgba(255,255,255,0.92);
  margin-top: 30em;
}


li{
  margin-right: 1em;
}

.button-primary{
  background-color: #8cd1a8;
  border:0;
  box-shadow: none;
  color: white !important;
  text-decoration: none;
}

.part img{
 width: 100%;
 padding: 2em 2em;
 border-top-style: solid;
 border-top-color: #dadada;
 border-top-width: thin;
}

.goto-next{
  border-radius: 50%;
  height: 75px;
  width: 75px;
  background-color: rgba(97, 104, 107, .1);
  margin: 10em auto 0 auto;
}

.goto-next .fa-2x{
  font-size: 3em;
  margin-top: 0.3em;
  color: rgba(97, 104, 107, .3);
}

#begin{
  padding-bottom: 2em;
  padding-top: 3em;
  font-weight: bold;
  /*border-bottom-style: solid;
  border-bottom-color: #dadada;
  border-bottom-width: thin;*/
}

#begin a{
  padding:1em 2em;
}

.content{
  padding: 0 1em 0 1em;
  margin-bottom: 2em;
}

#skills .skill-container:nth-child(2n+1){
  border-right-style: solid;
  border-right-color: rgba(46,64,87,0.3) ;

}

#skills .skill-container:last-child {
  border-bottom-width: 0;
}

#skills .skill-container:nth-last-child(2){
  border-bottom-width: 0;
}

.skill-container{
  padding-top: 1em;
  padding-bottom: 2em;
  border-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(46,64,87,0.3);
}

.skill-container-top-border{
  border-top-style: solid;
  border-top-color: rgba(46,64,87,0.3) ;
}


// Circle Progress Bar


.progress {
  width: 8em;
  height: 8em;
  background: none;
  position: relative;
}

.progress .h5{
  padding-left: 0.4em;
  margin-top: 0.5em;
}
.progress .border-primary{
  border-color: #2E4057 !important;
}
.progress::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid #eee;
  position: absolute;
  top: 0;
  left: 0;
}

.progress>span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.progress .progress-left {
  left: 0;
}

.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 3px;
  border-style: solid;
  position: absolute;
  top: 0;
}

.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.progress .progress-right {
  right: 0;
}

.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}

.progress .progress-value {
  position: absolute;
  top: 0;
  left: 0;
}

// Timeline

$container-shadow: 0.5rem 0.5rem 2rem 0 rgba(black, 0.2);

$gutter: 1em;
$border-width: 4px;
$dot-diameter: 1em;
$padding-top-time:1em;


.timeline {
  width:100%;
  background:#fff;
  position: relative;
  box-shadow: $container-shadow;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left:calc(33% + 15px); //$gutter/2
    bottom: 0;
    width: $border-width;
    background: #ddd;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.entry {
  clear: both;
  text-align: left;
  position: relative;
  .title {
    margin-bottom: .5em;
    float: left;
    width: 33%;
    padding-right: $gutter;
    text-align: right;
    position: relative;
    padding-top: $padding-top-time ;
    &:before {
      content: '';
      position: absolute;
      width: $dot-diameter;
      height: $dot-diameter;
      border: $border-width solid #8cd1a8;
      background-color:#fff;
      border-radius:100%;
      top: 30%;
      right: -1.55em;
      z-index: 99;
    }
    h3 {
      margin: 0;
      font-size:90%;
    }
    h3:first-child {
      text-transform: capitalize;
    }
    p {
      margin: 0;
      font-size: 80%;
    }
  }
  .body-tl{
    margin: 0 0 3em;
    float: right;
    width: 66%;
    padding-left: 2em;
    padding-top: $padding-top-time;
    p {
      line-height: 1.4em;
      &:first-child {
        margin-top: 0;
        font-weight: 400;
      }
    }
  }
}

.box{
  padding: 2em 0 2em 0;
}

.over-frame{
    display: block;
    transition: all .4s ease-out;
}

.infos-ref{
  background: #37515F;
  color: #fff;
  opacity:.9;
  right: 0;
  bottom: 0;
  text-align: center;
  position: relative;
  width: 100%;
  display: block;
  z-index: -99;
  height: 95px;
  padding-top: 1.2em;
  transform: translateY(5px);
  transition: all .4s ease-out;

}

.text-box{
  position: relative;
  z-index: 99;
  color: #dfdfdf;
  background-color: #2D848A;
  height: 100px;
  padding-top: 1.3em;
}

.img-box img{
  padding: 2em 0 0 0;
  border: none;
  transform: translate(0px, 95px);
}

.main :nth-last-child(2) .h2{
  margin-bottom: -2em;
}

.main:last-child .content {
  padding-bottom: 3em;
}

.card{
  background-color: #8cd1a8;
  padding: 20px 0 20px 0;
  margin: 0 10% 0 10%;
  box-shadow:0.5rem 0.5rem 2rem 0 rgba(black, 0.4);

}

#profil-head{
  height:60px;
  width: 60px;
  border-radius: 50%;
  border-style: solid;
  border-width: 4px;
  border-color: white;
  position:relative;
  margin:0 auto 2px auto ;

}

#profil{
  border-right-style: solid;
  border-right-color: whitesmoke;
  margin: auto 0 auto 0;
}

#profil-body{
  height:60px;
  width: 90px;
  border-radius: 50% 50% 0 0;
  border-style: solid;
  border-width: 4px;
  border-color: white;
  position:relative;
  margin: auto;
}

#infos-profil .col-12{
  padding: 0 10% 0 10%;
}

.gate-top{
  border-bottom: whitesmoke solid 3px;
  background-color: #8cd1a8;
  position: relative;
  z-index: 3;
  height: 9px;
  transform: translateY(10px);
  transition: all .4s ease-out;
}

.gate-bottom{
  border-top: whitesmoke solid 3px;
  background-color: #8cd1a8;
  position: relative;
  z-index: 3;
  height: 9px;
  transform: translateY(-30px);
  transition: all .4s ease-out;
}

#infos-profil p{
  z-index: 2;
  position: relative;
}

a{
  text-decoration: none;
  color: #61686b;
}

.contact a:hover{
  color: whitesmoke;
}

.settings{
  font-size: 2em;
  opacity: .3;
  left: 7px;
  top: 5px;
  position: absolute;
}

.network div{
  display: inline-block;
  margin: 0 1em 0 1em;
  font-size: 3em;
}


