<div class="row">
    <div class="col-12 listing">
        <span>Intitulé de l'experience :</span><span> {{ experience.name }}</span>
    </div>
    <div class="col-12 listing">
        <span>Métier :</span><span> {{ experience.job }}</span>
    </div>
    <div class="col-12 listing">
        <span>Entreprise :</span><span> {{ experience.company }}</span>
    </div>
    <div class="col-12 listing">
        <span>Début :</span><span> {{ experience.startedAt|date('d-M-Y') }}</span>
    </div>
    <div class="col-12 listing">
        <span>Fin :</span><span> {{ experience.endedAt|date('d-M-Y') }}</span>
    </div>
    <div class="col-12 listing">
        <span>Description :</span><span> {{ experience.Description }}</span>
    </div>
</div>