{{ form_start(form) }}
<div class="card">
    <div class="card-header">{{tittle}}</div>
    <div class="card-body">
        {{ form_errors(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.level) }}
    </div>
    <div class="card-footer">
        <a href="{{ path("skills_manage") }}" class="btn btn-secondary">Retour</a>
        <button class="btn btn-primary">{{ action }}</button>
    </div>
</div>
{{ form_end(form) }}