{% extends "base.html.twig" %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-4">
            {% include "Back/skill/_form.html.twig" with {form: form, tittle:"Création d'une compétence", action:"Ajouter"} %}
        </div>
    </div>
{% endblock %}