{% extends "base.html.twig" %}

{% block body %}
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h1 class="h4">Liste des compétences</h1>
            <a href="{{ path("skill_create") }}" class="btn btn-primary btn_add "><i class="fas fa-plus-circle"></i></a>
        </div>
        <table class="table table-striped table-hovered mb-0">
            <thead>
                <tr>
                    <th class="text-center text-uppercase" >Id</th>
                    <th class="text-center text-uppercase">Nom</th>
                    <th class="text-center text-uppercase">Niveau</th>
                    <th class="text-center text-uppercase">Créer le </th>
                    <th class="text-center text-uppercase">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for skill in skills %}
                <tr data-skillid="{{ skill.id }}">
                    <td class="text-center align-middle">{{ skill.id }}</td>
                    <td class="text-center align-middle">{{ skill.name }}</td>
                    <td class="text-center align-middle">{{ skill.level }}</td>
                    <td class="text-center align-middle">{{ skill.createdAt|date('d-m-Y') }}</td>
                    <td class="text-center align-middle ">
                        <button type="button" class="btn btn-warning btn-edit-skill"><i class="fas fa-edit"></i></button>
                        <button type="button" class="btn btn-danger btn-delete-skill "><i class="fas fa-trash"></i></button>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="5" class="text-center align-middle">Aucune compétence</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        let ready = $(document).ready(function (){
            $('.btn-delete-skill').click(function (){
                let current_tr = $(this).closest('tr');
                let current_id = $(current_tr).data('skillid');
                let delete_skill_url = "{{ url('delete_skill', {'id':'__00__'}) }}";
                delete_skill_url = delete_skill_url.replace('__00__', current_id);
                window.location=delete_skill_url;
            })

            $('.btn-edit-skill').click(function (){
                let current_tr = $(this).closest('tr');
                let current_id = $(current_tr).data('skillid');
                let edit_skill_url = "{{ url('edit_skill', {'id':'__00__'}) }}";
                edit_skill_url = edit_skill_url.replace('__00__', current_id);
                window.location=edit_skill_url;
            })
        })
    </script>
{% endblock %}