{% extends "base.html.twig" %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-4">
        {% include "Back/formation/_form.html.twig" with {form: form, tittle:"Modifier d'une formation", action:"Modifier"}%}
        </div>
    </div>
{% endblock %}