{% extends "base.html.twig" %}

{% block body %}

            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h1 class="h4">Liste des experiences</h1>
                    <a href="{{ path("experience_create") }}" class="btn btn-primary btn_add "><i class="fas fa-plus-circle"></i></a>
                </div>
                <table class="table table-striped table-hovered mb-0">
                    <thead>
                        <tr>
                            <th class="text-center text-uppercase" >Id</th>
                            <th class="text-center text-uppercase">Intitulé</th>
                            <th class="text-center text-uppercase">Entreprise</th>
                            <th class="text-center text-uppercase">Métier</th>
                            <th class="text-center text-uppercase">Créer le </th>
                            <th class="text-center text-uppercase">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for experience in experiences %}
                        <tr data-experienceid="{{ experience.id }}">
                            <td class="text-center align-middle">{{ experience.id }}</td>
                            <td class="text-center align-middle">{{ experience.name }}</td>
                            <td class="text-center align-middle">{{ experience.company }}</td>
                            <td class="text-center align-middle">{{ experience.job }}</td>
                            <td class="text-center align-middle">{{ experience.createdAt|date('d-m-Y') }}</td>
                            <td colspan="2" class="text-center align-middle">
                                <button type="button" class="btn btn-success btn-sm btn-display-experience " data-toggle="modal" data-target="#displayExperience"><i class="fas fa-eye"></i></button>
                                <button type="button" class="btn btn-warning btn-sm btn-edit-experience"><i class="fas fa-edit"></i></button>
                                <button type="button" class="btn btn-danger btn-sm btn-delete-experience "><i class="fas fa-trash"></i></button>
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="6" class="text-center align-middle">Aucune experience</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
        <!-- Modal Display Experience -->
    <div class="modal " id="displayModalExperience" tabindex="-1" role="dialog" aria-labelledby="displayModalExperience" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Détails de la experience</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modalDisplayExperience-body">

                </div>
            </div>
        </div>
    </div>

    <script>
        let ready = $(document).ready(function (){
            $('.btn-delete-experience').click(function (){
                let current_tr = $(this).closest('tr');
                let current_id = $(current_tr).data('experienceid');
                let delete_experience_url = "{{ url('delete_experience', {'id':'__00__'}) }}";
                delete_experience_url = delete_experience_url.replace('__00__', current_id);
                window.location=delete_experience_url;
            })

            $('.btn-edit-experience').click(function (){
                let current_tr = $(this).closest('tr');
                let current_id = $(current_tr).data('experienceid');
                let edit_experience_url = "{{ url('edit_experience', {'id':'__00__'}) }}";
                edit_experience_url = edit_experience_url.replace('__00__', current_id);
                window.location=edit_experience_url;
            })

            $('.btn-display-experience').click(function (){
                let current_tr = $(this).closest('tr');
                let current_id = $(current_tr).data('experienceid');
                let view_experience_url = "{{ url('display_experience', {'id':'__00__'}) }}";
                view_experience_url = view_experience_url.replace('__00__', current_id);
                $.ajax({
                    method: 'GET',
                    url: view_experience_url,
                    success: function (html){
                        $('#modalDisplayExperience-body').html(html);
                        $('#displayModalExperience').modal('show');
                    }
                });
            });
        })
    </script>
{% endblock %}