<div class="row">
    <div class="col-12 listing">
        <span>Nom de la formation :</span><span> {{ formation.name }}</span>
    </div>
    <div class="col-12 listing">
        <span>Structure d'enseignement :</span><span> {{ formation.school }}</span>
    </div>
    <div class="col-12 listing">
        <span>Niveau :</span><span> {{ formation.gradeLevel }}</span>
    </div>
    <div class="col-12 listing">
        <span>Début :</span><span> {{ formation.startedAt|date('d-M-Y') }}</span>
    </div>
    <div class="col-12 listing">
        <span>Fin :</span><span> {{ formation.endedAt|date('d-M-Y') }}</span>
    </div>
    <div class="col-12 listing">
        <span>Description :</span><span> {{ formation.Description }}</span>
    </div>
</div>