{{ form_start(form)}}
<div class="card">
    <div class="card-header">{{tittle}}</div>
    <div class="card-body">
     {{ form_errors(form) }}
        <div class="row">
            <div class="col-12 p-2">{{ form_row(form.name) }}</div>
            <div class="col-12 p-2">{{ form_row(form.company) }}</div>
            <div class="col-12 p-2">{{ form_row(form.startedAt) }}</div>
            <div class="col-12 p-2">{{ form_row(form.endedAt) }}</i></div>
            <div class="col-12 p-2">{{ form_row(form.description) }}</div>
            <div class="col-12 p-2"> {{ form_row(form.media) }}</div>
        </div>
    </div>
    <div class="card-footer">
        <a href="{{ path("references_manage") }}" class="btn btn-secondary">Retour</a>
        <button class="btn btn-primary">{{ action }}</button>
    </div>

</div>
{{ form_end(form, { render_rest: true }) }}

{% block javascripts %}
    <script>
        let ready = $(document).ready(function () {
            /*$('.add-another-collection-widget').click(function () {

                let collection = $($(this).attr('data-list-selector'));

                let prototype = collection.data('prototype');
                let counter = collection.data('counter')|| collection.children().length;
                collection.append(prototype.replace(/__name__/g, counter));
                collection.data('counter', counter++);
                console.log(collection);
               /!*counter = list.data('counter') || list.children().length;

                 let btn_delete = '<button type="button" id="delete_media_' + counter +'" class="btn btn-sm btn-danger" data-counter="'+ counter +'" style="display: inline-block"><i class="fa fa-trash-o"></i></button>'


                 let newWidget = list.attr('data-prototype');

                 newWidget = newWidget.replace(/__name__/g, counter);


                 let new_btn_delete = "#delete_media_"+counter;
                 counter++;
                 list.data('counter', counter);


                 let newElem = $(list.attr('data-widget-tags')).html(newWidget);
                 newElem.appendTo(list);
                 $(newElem).append(btn_delete);

                 $(new_btn_delete).click(function(){
                    $(this).parent().remove();
                 });*!/

                $('.collection-item-delete').click(function(){
                    $(this.currentTarget).closest("div").remove();
                });
            });

            $('.collection-item-delete').click(function(){
                $(this).parent().remove();
            });*/

        });


    </script>
{% endblock %}