{% extends "base.html.twig" %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            {% include "Back/reference/_form.html.twig" with {form: form, tittle:"Création d'une référence", action:"Ajouter"} %}
        </div>
    </div>
{% endblock %}