{% extends "base.html.twig" %}

{% block body %}
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h1 class="h4">Liste des references</h1>
            <a href="{{ path("reference_create") }}" class="btn btn-primary btn_add "><i class="fas fa-plus-circle"></i></a>
        </div>
        <table class="table table-striped table-hovered mb-0">
            <thead>
                <tr>
                    <th class="text-center text-uppercase" >Id</th>
                    <th class="text-center text-uppercase">Intitulé</th>
                    <th class="text-center text-uppercase">Entreprise</th>
                    <th class="text-center text-uppercase">Créer le </th>
                    <th class="text-center text-uppercase">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for reference in references %}
                <tr data-referenceid="{{ reference.id }}">
                    <td class="text-center align-middle">{{ reference.id }}</td>
                    <td class="text-center align-middle">{{ reference.name }}</td>
                    <td class="text-center align-middle">{{ reference.company }}</td>
                    <td class="text-center align-middle">{{ reference.createdAt|date('d-m-Y') }}</td>
                    <td colspan="2" class="text-center align-middle">
                        <button type="button" class="btn btn-success btn-sm btn-display-reference " data-toggle="modal" data-target="#displayReference"><i class="fas fa-eye"></i></button>
                        <button type="button" class="btn btn-warning btn-sm btn-edit-reference"><i class="fas fa-edit"></i></button>
                        <button type="button" class="btn btn-danger btn-sm btn-delete-reference "><i class="fas fa-trash"></i></button>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="6" class="text-center align-middle">Aucune reference</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

        <!-- Modal Display Reference -->
    <div class="modal " id="displayModalReference" tabindex="-1" role="dialog" aria-labelledby="displayModalReference" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Détails de la reference</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modalDisplayReference-body">

                </div>
            </div>
        </div>
    </div>

    <script>
        let ready = $(document).ready(function (){
            $('.btn-delete-reference').click(function (){
                let current_tr = $(this).closest('tr');
                let current_id = $(current_tr).data('referenceid');
                let delete_reference_url = "{{ url('delete_reference', {'id':'__00__'}) }}";
                delete_reference_url = delete_reference_url.replace('__00__', current_id);
                window.location=delete_reference_url;
            })

            $('.btn-edit-reference').click(function (){
                let current_tr = $(this).closest('tr');
                let current_id = $(current_tr).data('referenceid');
                let edit_reference_url = "{{ url('edit_reference', {'id':'__00__'}) }}";
                edit_reference_url = edit_reference_url.replace('__00__', current_id);
                window.location=edit_reference_url;
            })

            $('.btn-display-reference').click(function (){
                current_tr = $(this).closest('tr');
                current_id = $(current_tr).data('referenceid');
                let view_reference_url = "{{ url('display_reference', {'id':'__00__'}) }}";
                view_reference_url = view_reference_url.replace('__00__', current_id);
                $.ajax({
                    method: 'GET',
                    url: view_reference_url,
                    success: function (html){
                        $('#modalDisplayReference-body').html(html);
                        $('#displayModalReference').modal('show');
                    }
                });
            });
        })
    </script>
{% endblock %}