@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "./back/global";

.listing :first-child{
  font-weight: bold;
  text-align: right;
}

.listing :last-child{
  text-align: left;
}

.modal-header{
  background-color: teal;
  color: #dfdfdf;
}

.close{
  background: none;
  font-weight: bolder;
  color: darkslategray;
  border: none;
  font-size: 2em;
}

ul {
  list-style-type: none;
}


.list-media{
  display: inline-flex;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-bottom: 0.3rem;
}
