{{ form_start(form)}}
<div class="card">
    <div class="card-header">{{tittle}}</div>
    <div class="card-body">
        {{ form_errors(form) }}
        <div class="row gx-2 ">
            <div class="col-12 p-2">{{ form_row(form.name) }}</div>
        </div>
        <div class="row gx-2">
            <div class="col-12 p-2">{{ form_row(form.school) }}</div>

        </div>
        <div class="row gx-2 justify-content-center">
            <div class="col-4 p-2">{{ form_row(form.startedAt) }}</div>
            <div class="col-4 p-2">{{ form_row(form.endedAt) }}</div>
            <div class="col-4 p-2">{{ form_row(form.gradeLevel) }}</div>
        </div>
        <div class="row gx-2 ">
        <div class="col-12 p-2">{{ form_row(form.description) }}</div>
        </div>


    </div>
    <div class="card-footer">
        <a href="{{ path("formations_manage") }}" class="btn btn-secondary">Retour</a>
        <button class="btn btn-primary">{{ action }}</button>
    </div>
</div>
{{ form_end(form) }}

{% block javascripts %}
    <script>
        $(document).ready(function (){
            $('.js-datepicker').datepicker({
                language:'fr',
                format: 'dd-mm-yyyy'
            });
        });
    </script>
{% endblock %}