{% extends "base.html.twig" %}

{% block body %}
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h1 class="h4">Liste des formations</h1>
            <a href="{{ path("formation_create") }}" class="btn btn-primary btn_add "><i class="fas fa-plus-circle"></i></a>
        </div>
        <table class="table table-striped table-hovered mb-0">
            <thead>
                <tr>
                    <th class="text-center text-uppercase" >Id</th>
                    <th class="text-center text-uppercase">Nom</th>
                    <th class="text-center text-uppercase">Niveau du diplôme</th>
                    <th class="text-center text-uppercase">Nom de l'école</th>
                    <th class="text-center text-uppercase">Créer le </th>
                    <th class="text-center text-uppercase">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for formation in formations %}
                <tr data-formationid="{{ formation.id }}">
                    <td class="text-center align-middle">{{ formation.id }}</td>
                    <td class="text-center align-middle">{{ formation.name }}</td>
                    <td class="text-center align-middle">{{ formation.gradeLevel }}</td>
                    <td class="text-center align-middle">{{ formation.school }}</td>
                    <td class="text-center align-middle">{{ formation.createdAt|date('d-m-Y') }}</td>
                    <td colspan="2" class="text-center align-middle">
                        <button type="button" class="btn btn-success btn-sm btn-display-formation " data-toggle="modal" data-target="#displayFormation"><i class="fas fa-eye"></i></button>
                        <button type="button" class="btn btn-warning btn-sm btn-edit-formation"><i class="fas fa-edit"></i></button>
                        <button type="button" class="btn btn-danger btn-sm btn-delete-formation "><i class="fas fa-trash"></i></button>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="6" class="text-center align-middle">Aucune formation</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
            </div>

        <!-- Modal Display Formation -->
    <div class="modal " id="displayModalFormation" tabindex="-1" role="dialog" aria-labelledby="displayModalFormation" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Détails de la formation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modalDisplayFormation-body">

                </div>
            </div>
        </div>
    </div>

    <script>
        let ready = $(document).ready(function (){
            $('.btn-delete-formation').click(function (){
                let current_tr = $(this).closest('tr');
                let current_id = $(current_tr).data('formationid');
                let delete_formation_url = "{{ url('delete_formation', {'id':'__00__'}) }}";
                delete_formation_url = delete_formation_url.replace('__00__', current_id);
                window.location=delete_formation_url;
            })

            $('.btn-edit-formation').click(function (){
                let current_tr = $(this).closest('tr');
                let current_id = $(current_tr).data('formationid');
                let edit_formation_url = "{{ url('edit_formation', {'id':'__00__'}) }}";
                edit_formation_url = edit_formation_url.replace('__00__', current_id);
                window.location=edit_formation_url;
            })

            $('.btn-display-formation').click(function (){
                current_tr = $(this).closest('tr');
                current_id = $(current_tr).data('formationid');
                let view_formation_url = "{{ url('display_formation', {'id':'__00__'}) }}";
                view_formation_url = view_formation_url.replace('__00__', current_id);
                $.ajax({
                    method: 'GET',
                    url: view_formation_url,
                    success: function (html){
                        $('#modalDisplayFormation-body').html(html);
                        $('#displayModalFormation').modal('show');
                    }
                });
            });
        })
    </script>
{% endblock %}