{% extends "front/layout.html.twig" %}
{% block body %}
  <div class="body" {#style="background-image: url('{{ asset('build/images/sunset1.jpg') }}')"#}>
        <div class="row header">
            <div class="header-title">
                <h1 class="h1 text-uppercase">André Delarbre</h1>
                <p class="text-uppercase">Déveleloppeur Web FullStack Junior</p>
            </div>
        </div>
      <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="main">
                <div class="intro part text-center">
                    <div id="one" class="content">
                        <h2 class="h2 text-uppercase">
                            Qui je suis
                        </h2>
                        <p>
                            Développeur Fullstack Symfony Junior.<br> Passionnée de rugby et de photo argentique. <br>
                            Actuellement en recherche d'un stage pour un contrat de professionnalisation.
                        </p>
                        <div class="goto-next" data-id="#two"><i class="fas fa-arrow-down fa-2x" ></i></div>
                    </div>
                </div>
                <div class="part text-center ">
                    <div class="content" id="two">
                        <h2 class="h2">
                            Mes compétences
                        </h2>
                        <div class="row justify-content-center" id="skills"></div>
                        <div class="goto-next" data-id="#tree"><i class="fas fa-arrow-down fa-2x" ></i></div>
                    </div>
                </div>
                <div class="part text-center ">
                    <div class="content" id="tree">
                        <h2 class="h2">
                            Mes formations
                        </h2>
                        <div id="formations" class="timeline"></div>
                        <div class="goto-next" data-id="#four"><i class="fas fa-arrow-down fa-2x" ></i></div>
                    </div>
                </div>

                <div class="part text-center ">
                    <div class="content" id="four">
                        <h2 class="h2">
                            Mes expériences
                        </h2>
                        <div id="experiences" class="timeline"></div>
                        <div class="goto-next" data-id="#five"><i class="fas fa-arrow-down fa-2x" ></i></div>
                    </div>
                </div>
                <div class="part text-center ">
                    {#<span class="image">
                        <img src="{{ asset('build/images/B015596-R1-21-16.jpg') }}" alt="">
                    </span>#}
                    <div class="content" id="five">
                        <h2 class="h2">
                            Mes références
                        </h2>
                        <div id="references"></div>
                        <div class="goto-next" data-id="#six"><i class="fas fa-arrow-down fa-2x" ></i></div>
                    </div>
                </div>
                <div class="part text-center ">
                    <div class="content" id="six">
                        <h2 class="h2">
                            Contact
                        </h2>
                        <div class="card">
                            <div class="row">
                                <div id="profil" class="col-4">
                                    <div id="profil-head"></div>
                                    <div id="profil-body"></div>
                                </div>
                                <div id="infos-profil" class="col-8">
                                    <div class="row">
                                        <div class="col-12 contact" data-id="phone">
                                            <div class="gate-top" id="gt-phone"></div>
                                            <p><i class="fas fa-mobile-alt "></i><a href="tel:'+33658811819'">&ensp;06 58 81 18 19</a> </p>
                                            <div class="gate-bottom" id="gb-phone"></div>
                                        </div>
                                        <div class="col-12 contact" data-id="mail">
                                            <div class="gate-top" id="gt-mail"></div>
                                            <p><i class="fas fa-envelope"></i> <a href="mailTo:andre.szetela@protonmail.com">&ensp;andre.szetela@protonmail.com</a></p>
                                            <div class="gate-bottom" id="gb-mail"></div>
                                        </div>
                                        <div class="col-12 contact" data-id="linkedin">
                                            <div class="gate-top" id="gt-linkedin"></div>
                                            <p> <i class="fab fa-linkedin-in " aria-hidden="true"></i><a href='https://www.linkedin.com/in/andr%C3%A9-szetela-8470021b7/'>&ensp;André Delarbre </a></p>
                                            <div class="gate-bottom" id="gb-linkedin"></div>
                                        </div>
                                        <div class="col-12 contact" data-id="git">
                                            <div class="gate-top" id="gt-git"></div>
                                            <p><i class="fab fa-github" aria-hidden="true"></i><a href='https://gitlab.com/andre_Szet_Dev/'>&ensp;andre_Szet_Dev</a></p>
                                            <div class="gate-bottom" id="gb-git"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="network">
                            <div> <a href="tel:'+33658811819'"><i class="fas fa-mobile-alt "></i> </a></div>
                            <div> <a href="mailTo:andre.szetela@protonmail.com"><i class="fas fa-envelope"></i></a></div>
                            <div> <a href='https://www.linkedin.com/in/andr%C3%A9-szetela-8470021b7/'><i class="fab fa-linkedin-in " aria-hidden="true"></i></a></div>
                            <div> <a href='https://gitlab.com/andre_Szet_Dev/'><i class="fab fa-github 2" aria-hidden="true"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="footer text-center">
                    <div class="part">
                        <p>Copyright © 2022 André Delarbre</p>
                        <a href="{{ path("app_login") }}">Connexion</a>
                    </div>

                </div>
            </div>
        </div>
      </div>
    </div>
{% endblock %}
