<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Portfolio - André Delarbre{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {{ encore_entry_script_tags('app') }}
    </head>
    <body>
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-10">
                        <nav class="navbar navbar-expand-sm navbar-light bg-light">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="{{ path('experiences_manage') }}">Expériences</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('formations_manage') }}">Formations</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('skills_manage') }}">Compétences</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('references_manage') }}">Références</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                        {% block body %}
                        {% endblock %}
                    </div>
                </div>

            </div>
        </main>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script>
                $(document).ready(function() {
                    // you may need to change this code if you are not using Bootstrap Datepicker
                    $('.js-datepicker').datepicker({
                        format: 'yyyy-mm-dd'
                    });
                });
            </script>
        {% endblock %}
    </body>
</html>
