<div class="row">
    <div class="col-12 listing">
        <span>Intitulé de l'reference :</span><span> {{ reference.name }}</span>
    </div>
    <div class="col-12 listing">
        <span>Entreprise :</span><span> {{ reference.company }}</span>
    </div>
    <div class="col-12 listing">
        <span>Début :</span><span> {{ reference.startedAt|date('d-M-Y') }}</span>
    </div>
    <div class="col-12 listing">
        <span>Fin :</span><span> {{ reference.endedAt|date('d-M-Y') }}</span>
    </div>
    <div class="col-12 listing">
        <span>Description :</span><span> {{ reference.Description }}</span>
    </div>
</div>